<div class="container my-5 ">
  <div class="row g-4 text-center">
    <div class="col-md-4">
      <div class="card shadow-sm h-100" >
        <img src="https://m.media-amazon.com/images/I/61Qm+VXoCwL._AC_SY200_.jpg" class="card-img-top" alt="Deal 1" />
        <div class="card-body">
          <h5 class="card-title">Top Deals</h5>
          <p class="card-text">Save big on electronics and gadgets.</p>
          <a href="#" class="btn btn-warning">Shop Now</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm h-100">
        <img src="https://m.media-amazon.com/images/I/81OvCWCV4SL._SL1500_.jpg" class="card-img-top" alt="Deal 2" />
        <div class="card-body">
          <h5 class="card-title">New Arrivals</h5>
          <p class="card-text">Explore the latest tech trends.</p>
          <a href="#" class="btn btn-warning">Discover</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm h-100">
        <img src="https://m.media-amazon.com/images/I/617gsMnzd5L._SL1024_.jpg" class="card-img-top" alt="Deal 3" />
        <div class="card-body">
          <h5 class="card-title">Best Sellers</h5>
          <p class="card-text">Popular products loved by everyone.</p>
          <a href="#" class="btn btn-warning">View All</a>
        </div>
      </div>
    </div>
  </div>
</div>
